<div class ="center jumbotron">
  <h1>Welcome to Corridor of Champions!</h1>
  
  <h2>
    This is the home page for the Corridor of Champions App!
  </h2>
  
  <%= link_to "Sign up now!", register_path, class: "btn btn-lg btn-success" %>
</div>

<div class="row">
  
  <div class="col-xs-6 center">
    <h3 class="midrow">
      Sign in to your account
    </h3>
    <h2 class="centerHome">Add/update your Champions/create reviews/like-dislike and more!</h2>
    <p><%= link_to "Log in to your account", login_path, class: "btn btn-warning btn-small"%><p>
  </div>
  
  
  <div class="col-xs-6 center">
    <h3 class="midrow">
      View Champions as Guest User
    </h3>
    <h2 class="centerHome">Browse and view Champions as a guest and Sign up later</h2>
    <p><%= link_to "Browse Corridor as Guest", recipes_path, class: "btn btn-warning btn-small"%><p>
  </div>


</div>


